.mainbody{
    background-image: url(falloutfilter.jpg);
background-size: cover;
height: 100vh;
width: auto;
color: rgb(0, 255, 98);
display: flex;
justify-content: center;
flex-direction: column;
margin: initial;